.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: calc(100vh - 68px);
    padding: 40px 20px;
    text-align: center;
}

.container > h1 {
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 0 20px 0;
    color: var(--heading-color);
}

.container > p {
    margin: 0;
    font-size: 1.125rem;
    max-width: 600px;
    line-height: 1.6;
    color: var(--text-color)
}

.cartContainer {
    display: grid;
    grid-template-columns: 2fr, repeat(4, 1fr)
}

.cartContainer,
.cartSummary {
    width: 100%;
}

.itemContainer {
    grid-column: 1 / -1;
    background-color: white;
}

.itemHeader,
.quantityHeader,
.priceHeader,
.totalHeader,
.removeHeader{
    font-size: 1.2rem;
    font-weight: 700;
    padding: 15px;
    background-color: var(--secondary-color);
    color: white;
    margin: 0;
    text-align: center;
}

.items,
.quantities,
.prices,
.totals,
.removeContainer {
    padding: 20px 15px;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemHeader,
.items {
    grid-column: 1;
}

.items {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
}

.items img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.items h4 {
    text-align: left;
}

.quantityHeader,
.quantities {
    grid-column: 2;
}

.quantities {
    display: flex;
    align-items: center;
}

.priceHeader,
.prices {
    grid-column: 3;
}

.totalHeader,
.totals {
    grid-column: 4;
}

.removeHeader,
.removeContainer {
    grid-column: 5;
}

.cartSummary{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.cartSummary > * {
    margin: 0;
}

.checkoutButton,
.clearButton {
    margin-top: 10px;
    color: white;
    background-color: #4b4f58;
    padding: 12px 30px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

.decrementBtn::before,
.incrementBtn::after {
    content: attr(data-content);
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 20px;
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;
}

.decrementBtn::before {
    content: "-";
}

.incrementBtn::after {
    content: "+";
}

.quantityNum {
    padding: 0.25rem;
    border: 0;
    width: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: right;
}

.decrementBtn:hover::before,
.incrementBtn:hover::after {
    background-color: #666666;
}

.clearButton {
    background-color: rgb(133, 27, 27);
}

.removeBtn {
    width: 150px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
}

.removeBtn,
.removeBtn span {
    transition: 200ms;
}

.text {
    transform: translateX(30px);
    color: white;
    font-weight: bold;
}

.icon {
    position: absolute;
    transform: translateX(90px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.removeBtn:hover {
    background: #ff3636;
}

.removeBtn:hover .text {
    color: transparent;
}

.removeBtn:hover .icon {
    width: 150px;
    transform: translateX(0);
}

.removeBtn:focus {
    outline: none;
}

.removeBtn:active .icon svg {
    transform: scale(0.8);
}