.navHeader {
    padding: 5px 20px;
    background-color: #494d56;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.linkContainer {
    width: auto;
    margin-left: auto;
    display: flex;
}

button {
    
}